body{
    background-color: lightblue;
    font-family:Cambria;
}


div.mylogo{
     height:100px;
     width:100px;  
     border-radius:20px 0 20px 0;
     background-color:white;
     margin:5%;
    }
    .mylogo:hover{
     transition-duration:2s;
     transition-timing-function:ease;
     transform:rotate(45deg);
     transition-property:background;
     background-color:green;
    }
.header{
    background-color:blue;
    color:aqua;
    font-family:Georgia;
    text-align:center;
    text-transform:capitalize;
}
.footer{
margin-top:400px;
color:white;
height:10%;
background-color: green;
position:relative sticky;
text-decoration:solid;
}
.cards {
    margin-top:25px;
    background-color: white;
    display:grid;
    height:70%;
    grid-template-columns: 30% 40% 30%;
    
}
.card{
    background-color: blue;
    padding:20px;
    margin:20px;
    height:60px;
    color-scheme:initial;
}
.card:hover{
    background-color:lightblue;
    font-size: 20px;
    color:white;
    font-family:Impact;
    padding:20px;
    width:45%;
    height:50%;
    margin:20px;
    border-radius:20px 0px 20px 0px;
}
.cards:hover{
    background-color: aqua;
    height:70%;
}
.nurve{
    background-color:WHITE;
    color:black;
    text-transform:capitalize;
    font-size:20px;
}
ul li {
    display:inline-block;
    color:black;
}

ul li ul li a{
    display:none;
    text-decoration: none;
    list-style: none;
    background-color: black;
    color:white;
}
ul li:hover{
    background:black;
    color:whitesmoke;
}

ul li :hover ul li a{
    display:block;
    color:white;
    text-decoration: none;
}